/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations/main_psg.xml
/.idea/runConfigurations/main_vg.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/LF-SGG.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
